/* Soundcloud overwrites **************************************************************************/
.playControls__volume {
  margin-right: 5px !important;
}
@-moz-document url-prefix() {
  h1 {
    color: red;
  }
}
/* Allows for the hover css property to properly take effexct */
.playControls__volume.stratus {
  padding-top: 5px;
  margin-top: -5px;
}

.playControls__volume.stratus .volume__button {
  background-position-x: -1px;
}

.playControls__volume.stratus .volume[data-stratus-volume='0'] .volume__button {
  background-size: 22px 13px;
}

.playControls__volume.stratus .volume__button,
.playControls__volume.stratus .volume[data-stratus-volume='1'] .volume__button,
.playControls__volume.stratus .volume[data-stratus-volume='2'] .volume__button,
.playControls__volume.stratus .volume[data-stratus-volume='3'] .volume__button,
.playControls__volume.stratus .volume[data-stratus-volume='4'] .volume__button,
.playControls__volume.stratus .volume[data-stratus-volume='5'] .volume__button,
.playControls__volume.stratus .volume[data-stratus-volume='6'] .volume__button,
.playControls__volume.stratus .volume[data-stratus-volume='7'] .volume__button,
.playControls__volume.stratus .volume[data-stratus-volume='8'] .volume__button,
.playControls__volume.stratus .volume[data-stratus-volume='9'] .volume__button {
  background-size: 16px 13px;
}

.playControls__volume.stratus .volume[data-stratus-volume='10'] .volume__button {
  background-size: 20px 13px;
}

.playControls__volume.stratus .volume__sliderWrapper {
  display: none;
}

/* chrome soundcloud overwrites */
@media screen and (-webkit-min-device-pixel-ratio:0){
  .playControls__volume.stratus .volume[data-stratus-volume='0'] .volume__button {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/volume-muted.png');
  }

  .playControls__volume.stratus .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='1'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='2'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='3'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='4'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='5'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='6'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='7'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='8'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='9'] .volume__button {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/volume-low.png');
  }

  .playControls__volume.stratus .volume[data-stratus-volume='10'] .volume__button {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/volume-high.png');
  }
}

/* firefox soundcloud overwrites */
@-moz-document url-prefix() {
  .playControls__volume.stratus .volume[data-stratus-volume='0'] .volume__button {
    background-image: url('../images/volume-muted.png');
  }

  .playControls__volume.stratus .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='1'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='2'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='3'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='4'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='5'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='6'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='7'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='8'] .volume__button,
  .playControls__volume.stratus .volume[data-stratus-volume='9'] .volume__button {
    background-image: url('../images/volume-low.png');
  }

  .playControls__volume.stratus .volume[data-stratus-volume='10'] .volume__button {
    background-image: url('../images/volume-high.png');
  }
}

/* stratus styles *********************************************************************************/
.playControls__volume .stratus-slider-container {
  position: absolute;
  display: none;
  left: -66px;
  bottom: 50px;
  z-index: 1;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-color: #cccccc;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.playControls__volume .stratus-slider-container .stratus-volume-input {
  width: 40px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.playControls__volume .stratus-slider-container .stratus-slider {
  width: 200px;
  cursor: pointer;
}

.playControls__volume.stratus:hover .stratus-slider-container,
.playControls__volume.stratus .stratus-slider-container:hover,
.playControls__volume.stratus .volume.expanded .stratus-slider-container {
  display: block;
}

.stratus-container {
  display: flex;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
}
.stratus-container .stratus-icon {
  margin-right: 5px;
}
.stratus-container .stratus-input {
  cursor: pointer;
}
