{
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error","always"]
  },
  "env": {
    "browser": true,
    "es6": true,
    "webextensions": true
  },
  "globals": {
    "chrome": true,
    "webpackJsonp": true
  },
  "extends": "eslint:recommended"
}
